.input-field{
  height: 1.75rem;
}

.submit-button{
  margin-left: .5rem;
}

.header{ 
  display: flex;
  justify-content: center;
}
/* 
.foundRecipes{
  display: flex;
  flex-wrap: wrap;
} */

.foundRecipes{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  color: lightblue;
  align-self: center;
}

.individual-recipe{
  height: 500px;
  align-self: center;
  overflow:hidden;
  border-style: solid;
  border-width: .125rem;
  border-color: lightblue;
  font-weight: bold;
}

.recipeImage{
  max-height: 80%;
  max-width: 100%;
  background-size: cover;
}